<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Robotic Arm Controller</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul>
      </div>
    </nav>
  </header>

  <main role="main" class="container">
    <h1 class="mt-5">Robotic Arm Controller</h1>
    <p class="lead">This project is created to remotely control a 6 DoF robotic arm. </p>

      <section role="displays" class="row">
        <div class="col-12 col-md-6">
          <h2>Preview</h2>
          <div id="preview-canvas"></div>
        </div>
        <div class="col-12 col-md-6">
          <h2>Control Panel</h2>
          <button class="btn btn-default" (click)="startRendering()">Start rendering</button>
        </div>
    </section>
  </main>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">Robotic Arm Controller by dudasaron</span>
    </div>
  </footer>