  /* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  
  

  #preview-canvas {
      width: 400px;
      height: 400px;
      background-color: #ababab;
  }

  #target-position-selector {
      width: 400px;
      height: 400px;
      border: 1px solid #afafaf;
  }